<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<div class="container-fluid">
    <h1>Pet Search</h1>
        <form>
        <label for="location">Location</label>
            <div class="input-group">
                 <span class="input-group-btn">
                     <button class="btn btn-default"
                             ng-click="model.searchAnimalsByLocation(location);"
                             ng-click="model.getPicture();"
                             type="button">Go!</button>
                 </span>
                <input name="location"
                       class="form-control"
                       ng-model="location"
                       type="text"
                       id="location"
                       placeholder="'City, State' or 'ZIP Code'"/>
            </div>
        <div class="form-group">
            <label for="animal">Animal Type</label>
            <select class="form-control"
                    id="animal"
                    name="animal"
                    ng-model="model.animal">
                //(barnyard, bird, cat, dog, horse, reptile, smallfurry, rabbit
                <option value="barnyard">Barnyard Animals</option>
                <option value="bird">Birds</option>
                <option value="cat">Cats</option>
                <option value="dog">Dogs</option>
                <option value="horse">Horses</option>
                <option value="rabbit">Rabbits</option>
                <option value="smallfurry">Rodents</option>
                <option value="reptile">Scaled Animals</option>
            </select>
            <span class="input-group-btn">
        <!--<a ng-click="model.searchPets(model.animal)" class="btn btn-default" type="button">-->
            <!--<span class="glyphicon glyphicon-search"></span>-->
        <!--</a>-->
    </span>
        </div>
            <label for="breed">Breed</label>
            <input class="form-control"
                   id="breed"
                   name="breed"
                   placeholder="Breed"
                   ng-model="model.breed"/>

            <div class="form-group">
                <label for="age">Age</label>
                <select class="form-control"
                        id="age"
                        name="age"
                        ng-model="model.age">
                    <option value="S">Small</option>
                    <option value="M">Medium</option>
                    <option value="L">Large</option>
                    <option value="XL">Extra Large</option>
                </select>
            </div>
            <div class="form-group">
                <label for="sex">Sex</label>
                <select class="form-control"
                        id="sex"
                        name="sex"
                        ng-model="model.sex">
                    <option value="FM">Any</option>
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                </select>
            </div>
        </form>
</div>
<div class="container-fluid">
    <h1>Results</h1>
    <div class="row">
        <div class="col-xs-4" ng-repeat="int in model.animals">
            <h1>{{int.media.photos.photo[0].$t}}</h1>
            <img ng-src={{int.media.photos.photo[0].$t}}/>
        </div>
    </div>
</div>
</body>
</html>