<div class="nw-navbar-default">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header pull-left">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left pull-left">
                        <li><a class="navbar-header"
                               href="#"
                               role="button">
                            <span class="glyphicon glyphicon-chevron-left"
                                  aria-hidden="true"></span>
                        </a></li>
                    </ul>
                </div>
            </div>

            <div class="navbar-header">
                <a class="navbar-toggle collapsed nw-back-button"
                   href="#"
                   role="button"
                   aria-expanded="false">
                    <span class="glyphicon glyphicon-chevron-left"
                          aria-hidden="true">
                    </span>
                </a>
                <a class="navbar-brand"
                   href="#"></a>
            </div>
        </div>
    </nav>


    <div class="container-fluid">
<h1>{{model.animal.name}}</h1>
    <!--<h2>model.petId: {{model.petId}}</h2>-->
        <!--<h2>petId: {{petId}}</h2>-->
        <!--<h2>Id: </h2>-->
   <!--<img ng-src={{model.animal.media.photos.photo[0].$t}}/>-->
    <!--<h2>Information about me</h2>-->
    <!--<ul class="list-inline">-->
        <!--<li>animal: {{model.animal.animal.$t}}</li>-->
        <!--<li>breed: {{model.animalBreeds(model.animal)}}</li>-->
        <!--<li>age: {{model.animal.age.$t}}</li>-->
        <!--<li>size: {{model.animal.size.$t}}</li>-->
        <!--<li>sex: {{model.animal.sex.$t}}</li>-->
    <!--</ul>-->
    <!--<p>{{model.animal.description.$t}}</p>-->
    <!--<h2>My Shelter</h2>-->
    <!--<a class="btn btn-default btn-primary btn-block"-->
       <!--ng-click="model.login(model.user)"-->
       <!--role="button">{{model.animalShelterName(model.animal.shelterId.$t)}}</a>-->
    <!--<a class="btn btn-default btn-success btn-block"-->
       <!--ng-click="model.login(model.user)"-->
       <!--role="button">Follow</a>-->
    <!--<a class="btn btn-default btn-danger btn-block"-->
       <!--ng-click="model.login(model.user)"-->
       <!--role="button">Unfollow</a>-->
</div>



    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-header pull-right">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="navbar-header nw-user-button-1"
                           href="#"
                           role="button">
                        <span class="glyphicon glyphicon-user"
                              aria-hidden="true"></span>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="navbar-header">

            <a class="navbar-toggle collapsed nw-user-button-2"
               href="#"
               role="button"
               aria-expanded="false">
                <span class="glyphicon glyphicon-user"
                      aria-hidden="true"></span>
            </a>
        </div>
    </nav>
</div>