input {
    margin-bottom: 5px;
}
textarea{
    margin-bottom: 5px;
}
body {
    padding-top: 60px;
    padding-bottom:60px;
}
.nwLeftShift{
    margin-left: -15px;

}

.nw-white {
    color:white;
}

.nw-split-view-left {
    position: absolute;
    top: 60px;
    bottom: 40px;
    overflow-y: scroll;
    z-index: 2;
}

.nw-back-button{
    position:relative;
    border-style: none;
    margin-left: 20px;
    float: left;
    margin-top:6px;
    padding-right: 0px;
    padding-bottom:5px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.nw-right-button{
    border-style: none;
    margin-left:0px;
    margin-bottom:0px;
    margin-right: 20px;
    margin-top: 6px;

}

.nw-user-button-2{
    border-style: none;
    margin-bottom:0px;
    padding-top:15px;
    margin-top: 0px;

}
.nw-user-button-1{
    margin-right: 20px;
}

.nw .nw-navbar-header{
    float:left;
    position: fixed;
}
.nw .nw-navbar-header-2{
    position:fixed;
}

.nw .glyphicon {
    color:white;
}

.nw-navbar-default{
     background-color: #337ab7;
     border-color: #337ab7;
    z-index: 3;
 }

.nw .navbar-default .navbar-brand{
    color: white;
}

.nw-split-view-right {
    position: absolute;
    right: 0px;
    top: 60px;
    bottom: 0px;
    overflow-y: scroll;
}

.nw-widget-buttons {
    bottom:45px;
    position: relative;
    float: right;
    z-index: 2;
}