<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-toggle collapsed nw-right-button"
               ng-click="model.updateUser(model.user)"
               data-toggle="collapse"
               role="button">
                <span class="glyphicon glyphicon-ok"
                      aria-hidden="true"></span></a>
            <a class="navbar-brand"
               href="#">Shelter Profile</a>
        </div>

        <div class="navbar-header pull-right">
            <div class="collapse navbar-collapse"
                 id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li>
                        <a ng-click="model.updateUser(model.user)"
                           role="button">
                            <span class="glyphicon glyphicon-ok"
                                  aria-hidden="true">
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header pull-right">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="navbar-header nw-user-button-1"
                       href="profile.view.client.html">
                        <span class="glyphicon glyphicon-user"
                              aria-hidden="true"></span>
                </a></li>
            </ul>
        </div>
    </div>
    <div class="navbar-header">
        <a class="navbar-toggle collapsed nw-user-button-2"
           href="profile.view.client.html"
           aria-expanded="false">
                <span class="glyphicon glyphicon-user"
                      aria-hidden="true"></span>
        </a>
    </div>
</nav>

<div class="container-fluid">
    <label for="username">Username</label>
    <input name="username"
           readonly
           class="form-control"
           ng-model="model.user.username"
           type="text"
           placeholder="jsmith"
           id="username">

    <label for="name">Shelter Name</label>
    <input name="name"
           class="form-control"
           ng-model="model.shelter.name"
           placeholder="Paws n Friends"
           type="text"
           id="name">

    <label for="description">Shelter Description</label>
    <textarea name="description"
              rows="5"
              ng-model="model.shelter.description"
              class="form-control"
              id="description"></textarea>

    <label for="location">Location</label>
    <input name="location"
           class="form-control"
           ng-model="model.shelter.location"
           placeholder="Paws n Friends"
           type="text"
           id="location">

    <label for="email">Email</label>
    <input name="email"
           class="form-control"
           ng-model="model.shelter.email"
           type="email"
           placeholder="jackiesmith@tmail.com"
           id="email">

    <label for="phone">Phone</label>
    <input name="phone"
           class="form-control"
           ng-model="model.shelter.phone"
           type="text"
           placeholder="###-###-####"
           id="phone">

    <a class="btn btn-default btn-block btn-primary"
       href="#!/user/{{model.user._id}}/shelter/{{model.shelter._id}}/pet"
       role="button">Pet List</a>

    <a class="btn btn-default btn-block btn-primary"
       href="#!/user/{{model.user._id}}/shelter/{{model.shelter._id}}/notifications"
       role="button">Notifications</a>

    <a class="btn btn-default btn-block btn-danger"
       ng-click="model.deleteUser(model.user)"
       href="#!/login"
       role="button">Delete Profile</a>

    <a class="btn btn-default btn-block btn-warning"
       href="#!/login">Logout</a>
</div>

