<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header pull-left">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left pull-left">
                        <li><a class="navbar-header"
                               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page"
                               role="button">
                            <span class="glyphicon glyphicon-chevron-left"
                                  aria-hidden="true"></span>
                        </a></li>
                    </ul>
                </div>
            </div>

            <div class="navbar-header">
                <a class="navbar-toggle collapsed nw-right-button"
                   ng-click="model"
                   href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
                   role="button"
                   aria-expanded="false">
                    <span class="glyphicon glyphicon-plus"
                          aria-hidden="true">
                    </span></a>

                <a class="navbar-toggle collapsed nw-back-button "
                   href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page"
                   role="button"
                   aria-expanded="false">
                    <span class="glyphicon glyphicon-chevron-left"
                          aria-hidden="true">
                    </span></a>

                <a class="navbar-brand"
                   href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/">Widgets</a>
            </div>

            <div class="navbar-header pull-right">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li><a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                            <span class="glyphicon glyphicon-plus"
                                  aria-hidden="true"></span>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-header pull-right">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="navbar-header nw-user-button-1"
                           href="#!/profile/{{model.userId}}"
                           role="button">
                        <span class="glyphicon glyphicon-user"
                              aria-hidden="true"></span>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="navbar-header">

            <a class="navbar-toggle collapsed nw-user-button-2"
               href="#!/profile/{{model.userId}}"
               role="button"
               aria-expanded="false">
                <span class="glyphicon glyphicon-user"
                      aria-hidden="true"></span></a>
        </div>
    </nav>

<div ng-repeat="widget in model.widgets">
    <div class="nw-widget-buttons">
        <a class="btn btn-default btn-block"
           href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}/"
           role="button"
           aria-hidden="true">
        <span class="glyphicon glyphicon-cog"
              aria-hidden="true"></span>
            <span class="glyphicon glyphicon-align-justify"
                  aria-hidden="true"></span>
        </a>
    </div>
    <div ng-include="model.getWidgetIncludeUrl(widget.widgetType)"></div>
</div>


