<div class="nw-navbar-default">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header pull-left">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left pull-left">
                        <li><a class="navbar-header"
                               href="#!/user/{{model.userId}}/website"
                               role="button">
                            <span class="glyphicon glyphicon-chevron-left"
                                  aria-hidden="true"></span>
                        </a></li>
                    </ul>
                </div>
            </div>

            <div class="navbar-header">
                <a class="navbar-toggle collapsed nw-right-button"
                   ng-click="model.updateWebsite(model.website)"
                   href="#!/user/{{model.userId}}/website"
                   role="button"
                   aria-expanded="false">
                    <span class="glyphicon glyphicon-ok"
                          aria-hidden="true">
                    </span>
                </a>
                <a class="navbar-toggle collapsed nw-back-button"
                   href="#!/user/{{model.userId}}/website"
                   role="button"
                   aria-expanded="false">
                    <span class="glyphicon glyphicon-chevron-left"
                          aria-hidden="true">
                    </span>
                </a>
                <a class="navbar-brand"
                   href="#!/user/{{model.userId}}/website/{{model.websiteId}}">Edit Website</a>
            </div>

            <div class="navbar-header pull-right">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li><a ng-click="model.updateWebsite(model.website)"
                               href="#!/user/{{model.userId}}/website"
                               role="button">
                            <span class="glyphicon glyphicon-ok"
                                  aria-hidden="true"></span>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-header pull-right">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="navbar-header nw-user-button-1"
                           href="#!/profile/{{model.userId}}"
                           role="button">
                        <span class="glyphicon glyphicon-user"
                              aria-hidden="true"></span>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="navbar-header">

            <a class="navbar-toggle collapsed nw-user-button-2"
               href="#!/profile/{{model.userId}}"
               role="button"
               aria-expanded="false">
                <span class="glyphicon glyphicon-user"
                      aria-hidden="true"></span>
            </a>
        </div>
    </nav>
</div>

<div class="row">
    <div class="col-xs-3 visible-md visible-lg nw-split-view-left">
        <div class="container-fluid">
            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-xs-9">Name</div>
                        <div class="col-xs-3">
                            <a href="#!/user/{{model.userId}}/website/new">
                                <span class="pull-right glyphicon glyphicon-plus nw-white"></span>
                            </a>
                        </div>
                    </div>
                </li>

                <li ng-repeat="website in model.websites" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-9">
                            <a href="#!/user/{{model.userId}}/website/{{website._id}}/page"
                               role="button">{{website.name}}</a></div>
                        <div class="col-xs-3">
                            <a href="#!/user/{{model.userId}}/website/edit">
                                <span class="pull-right glyphicon glyphicon-cog"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-xs-12 col-md-9 nw-split-view-right">
        <div class="container-fluid">
            <label for="name">Website Name</label>
            <input name="name"
                   ng-model="model.website.name"
                   class="form-control"
                   type="text"
                   id="name">

            <label for="description">Website Description</label>
            <textarea name="description"
                      rows="5"
                      ng-model="model.website.description"
                      class="form-control"
                      id="description"></textarea>

            <a class="btn btn-default btn-block btn-warning"
               ng-click="model.deleteWebsite()"
               href="#!/user/{{model.userId}}/website"
               role="button">Delete Website</a>

            <a class="btn btn-default btn-block btn-danger"
               href="#!/user/{{model.userId}}/website"
               role="button">Cancel</a>
    </div>
    </div>
</div>
