    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header pull-left">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left pull-left">
                        <li><a class="navbar-header"
                               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/">
                            <span class="glyphicon glyphicon-chevron-left"
                                  aria-hidden="true"></span></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="navbar-header">
                <a class="navbar-toggle collapsed nw-back-button"
                   href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/"
                   aria-expanded="false">
                    <span class="glyphicon glyphicon-chevron-left"
                          aria-hidden="true">
                    </span>
                </a>
                <a class="navbar-brand"
                   href="widget-image.view.client.html">Edit Widget</a>
            </div>
            <div class="navbar-header pull-right">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li>
                            <a ng-click="model.updateWidget(model.widget)"
                               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/"
                               role="button">
                            <span class="glyphicon glyphicon-ok"
                                  aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </nav>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-header pull-right">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="navbar-header nw-user-button-1"
                           href="#!/profile/{{model.userId}}"
                           role="button">
                        <span class="glyphicon glyphicon-user"
                              aria-hidden="true"></span>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="navbar-header">
            <a class="navbar-toggle collapsed nw-right-button"
               ng-click="model.updateWidget(model.widget)"
               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/"
               aria-expanded="false">
                    <span class="glyphicon glyphicon-ok"
                          aria-hidden="true">
                    </span>
            </a>
            <a class="navbar-toggle collapsed nw-user-button-2"
               href="#!/profile/{{model.userId}}"
               role="button"
               aria-expanded="false">
                <span class="glyphicon glyphicon-user"
                      aria-hidden="true"></span>
            </a>
        </div>
    </nav>

<div class="container-fluid">
    <label for="name">Name</label>
    <input name="name"
           class="form-control"
           ng-model="model.widget.name"
           placeholder="name"
           type="text"
           id="name">

    <label for="text">Text</label>
    <input name="text"
           class="form-control"
           ng-model="model.widget.text"
           placeholder="text"
           type="text"
           id="text">

    <label for="url">URL</label>
    <input name="url"
           class="form-control"
           placeholder="your url"
           ng-model="model.widget.url"
           id="url">

    <label for="width">Width</label>
    <input name="width"
           class="form-control"
           ng-model="model.widget.width"
           value="3"
           placeholder="0"
           type="number"
           id="width">

    <form action="/api/upload"
          method="post"
          enctype="multipart/form-data">
        <input  name="myFile"
                ng-model="model.widget.file"
                type="file"
                class="form-control"/>
        <input  name="width"
                ng-model="model.widget.width"
                value="{{model.widget.width}}"
                style="display: none"/>

        <input
                name="userId"
                ng-model="model.widget.userId"
                value="{{model.userId}}"
                style="display: none"
        />
        <input  name="websiteId"
                ng-model="model.widget.websiteId"
                value="{{model.websiteId}}"
                style="display: none"/>
        <input  name="pageId"
                ng-model="model.widget.pageId"
                value="{{model.pageId}}"
                style="display: none"/>
        <input  name="widgetId"
                ng-model="model.widget.widgetId"
                value="{{model.widget._id}}"
                style="display: none"/>
        <button type="submit"
                ng-click="model.updateWidget(model.widget)"
                class="btn btn-default btn-block btn-primary">Upload Image</button>
    </form>
    <a class="btn btn-default btn-block btn-primary"
       href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widget._id}}/search"
       role="button">Search</a>

    <a class="btn btn-default btn-block btn-danger"
       ng-click="model.deleteWidget()"
       href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/"
       role="button">Delete</a>
</div>
