<div class="nw">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header pull-left">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left pull-left">
                        <li><a class="navbar-header" href="../../page/templates/page-list.view.client.html">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </a></li>
                    </ul>
                </div>
            </div>

            <div class="navbar-header">
                <a class="navbar-toggle collapsed nw-right-button" href="widget-chooser.html" aria-expanded="false">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true">
                    </span></a>

                <a class="navbar-toggle collapsed nw-back-button " href="../../page/templates/page-list.view.client.html" aria-expanded="false">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
                    </span></a>

                <a class="navbar-brand" href="widget-list.html">Widgets</a>
            </div>

            <div class="navbar-header pull-right">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li><a href="widget-chooser.html">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-header pull-right">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="navbar-header nw-user-button-1" href="../../user/templates/profile.view.client.html">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="navbar-header">

            <a class="navbar-toggle collapsed nw-user-button-2" href="../../user/templates/profile.view.client.html" aria-expanded="false">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
    <div>
        <h1>GIZMODO</h1></div>
    <div class="nw-widget-buttons">
        <a class="btn btn-default btn-block"
           aria-hidden="true">
        <span class="glyphicon glyphicon-cog"
              aria-hidden="true"></span>
        <span class="glyphicon glyphicon-align-justify"
              aria-hidden="true"></span></a>
    </div>
    </div>
    <div class="row">
        <div>
            <h3>US Senate Reaches Compromise on Emergency Zika Funding</h3></div>
        <div class="nw-widget-buttons">
            <a href="widget-heading.html"
               class="btn btn-default btn-block"
               aria-hidden="true">
            <span class="glyphicon glyphicon-cog"
                  aria-hidden="true"></span>
            <span class="glyphicon glyphicon-align-justify"
                  aria-hidden="true"></span>
        </a>
        </div></div>
    <div class="row">
        <div class=>
            <img src="https://my.vetmatrixbase.com/clients/12679/images/Gorgeous_puppies.jpg"
                 alt="puppy image"
                 width="100%"
                 height="100%"></div>
    <div class="nw-widget-buttons">
        <a class="btn btn-default btn-block"
           href="widget-image.html"
           aria-hidden="true">
        <span class="glyphicon glyphicon-cog"
              aria-hidden="true"></span>
        <span class="glyphicon glyphicon-align-justify"
              aria-hidden="true"></span>
    </a>
    </div>
    </div>

    <div class="row">
        <div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident,sunt in culpa qui
            officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="nw-widget-buttons">
            <a class="btn btn-default btn-block"
               aria-hidden="true">
            <span class="glyphicon glyphicon-cog"
                  aria-hidden="true"></span>
            <span class="glyphicon glyphicon-align-justify"
                  aria-hidden="true"></span>
        </a>
        </div>
    </div>
    <div class="row">
        <div>
            <h3>Man in a Wingsuit Flies Straight Through a Ring of Fire</h3>
        </div>
        <div class="nw-widget-buttons">
            <a class="btn btn-default btn-block"
               aria-hidden="true">
            <span class="glyphicon glyphicon-cog"
                  aria-hidden="true"></span>
            <span class="glyphicon glyphicon-align-justify"
                  aria-hidden="true"></span>
        </a>
        </div>
    </div>
    <div class="row">
        <div>
            <iframe width="420"
                    height="345"
                    src="https://www.youtube.com/watch?v=NONlkKMGFeA">
        </iframe>
        </div>
        <div class="nw-widget-buttons">
            <a class="btn btn-default btn-block"
               href="widget-youtube.html"
               aria-hidden="true">
            <span class="glyphicon glyphicon-cog"
                  aria-hidden="true"></span>
            <span class="glyphicon glyphicon-align-justify"
                  aria-hidden="true"></span>
        </a>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row">
        <div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident,sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="nw-widget-buttons">
            <a class="btn btn-default btn-block"
               aria-hidden="true">
            <span class="glyphicon glyphicon-cog"
                  aria-hidden="true"></span>
            <span class="glyphicon glyphicon-align-justify"
                  aria-hidden="true"></span>
            </a>
        </div>
    </div>
    </div>
</div>
