<div class="nw-navbar-default">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"
                   href="#">Adopter Form</a>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-default navbar-fixed-bottom">
    </nav>
</div>

<div class="row">
    <div class="col-xs-12 col-md-9 nw-split-view-right nw-editPetPadding">
        <div class="container-fluid">
            <div ng-show="model.errorMessage" class="alert alert-danger">
                {{model.errorMessage}}
            </div>
            <label for="firstName">First Name</label>
            <input name="firstName"
                   class="form-control"
                   ng-model="adopter.firstName"
                   type="text"
                   placeholder="Find My Dog"
                   id="firstName">
            <label for="lastName">Last Name</label>
            <input name="lastName"
                   class="form-control"
                   ng-model="adopter.lastName"
                   type="text"
                   placeholder="Find My Dog"
                   id="lastName">
            <label for="description" >About You</label>
            <textarea name="description"
                      rows="5"
                      ng-model="adopter.description"
                      class="form-control"
                      placeholder="Need help locating your dog?"
                      id="description"></textarea>
            <label for="location">Address</label>
            <input name="location"
                   class="form-control"
                   ng-model="adopter.location"
                   type="text"
                   id="location">
            <label for="phone">Phone</label>
            <input name="phone"
                   class="form-control"
                   ng-model="adopter.phone"
                   type="text"
                   id="phone">
            <label for="email">Email</label>
            <input name="email"
                   class="form-control"
                   ng-model="adopter.email"
                   type="email"
                   id="email">
            <a class="btn btn-block btn-primary"
               ng-click="model.registerAdopter(adopter)"
               role="button">Submit Form</a>

            <a class="btn btn-block  btn-danger"
               ng-click="model.deleteUser()"
               role="button">Cancel</a>
        </div>
    </div>
</div>
