<div class="container-fluid">
    <h1>Register</h1>
    <div ng-show="model.errorMessage" class="alert alert-danger">
        {{model.errorMessage}}
    </div>

    <label for="username">Username</label>
    <input name="username"
           class="form-control"
           ng-model="user.username"
           placeholder="Username"
           id="username"/>

    <label for="password">Password</label>
    <input name="password"
           class="form-control"
           type="password"
           ng-model="user.password"
           placeholder="Password"
           id="password"/>

    <label for="password2">Verify Password</label>
    <input name="password2"
           class="form-control"
           type="password"
           ng-model="user.password2"
           placeholder="Verify Password"
           id="password2"/>
    <a class="form-control btn btn-success btn-block"
       ng-click="model.registerAdopter(user)"
       role="button">Register as an Adopter</a>

    <a class="btn  btn-success btn-block"
       ng-click="model.registerShelter(user)"
       role="button">Register as a Shelter</a>

    <a class="btn btn-danger btn-block"
       href="#!/project/login"
       role="button">Cancel</a>
 </div>