<div class="nw-navbar-default">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header pull-left">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left pull-left">
                        <li><a class="navbar-header"
                               href="#!/"
                               role="button">
                            <span class="glyphicon glyphicon-chevron-left"
                                  aria-hidden="true"></span>
                        </a></li>
                    </ul>
                </div>
            </div>

            <div class="navbar-header">
                <a class="navbar-toggle collapsed nw-back-button"
                   href="#!/"
                   role="button"
                   aria-expanded="false">
                    <span class="glyphicon glyphicon-chevron-left"
                          aria-hidden="true">
                    </span>
                </a>
                <a class="navbar-brand"
                   href="#">{{model.animal.name}}'s Profile</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid nw-editPetPadding">
        <h1>{{model.animal.name}}</h1>
        <h3>Id: {{model.animal.apiId}}</h3>
        <ul class="list-inline">
            <li><h3>Information:</h3></li>
            <li>animal: {{model.animal.animal}}</li>
            <li>breed: {{model.animal.breed}}</li>
            <li>age: {{model.animal.age}}</li>
            <li>size: {{model.animal.size}}</li>
            <li>sex: {{model.animal.sex}}</li>
        </ul>
        <img class="" src="{{model.largePhotos[0]}}">
        <ul class="list-inline">
            <li><a id="left-button"><span class="glyphicon-chevron-left glyphicon "></span></a></li>
            <li><a id="right-button"><span class="glyphicon-chevron-right glyphicon"></span></a></li></ul>
        <h3>About {{model.animal.name}}</h3>
        <p class="-align-justify">{{model.animal.description}}</p>
        <h2>My Shelter</h2>
        <a class="btn btn-default btn-primary btn-block"
           ng-click="model.login(model.user)"
           role="button">{{model.animalShelterName(model.animal.shelterId)}}</a>
        <a class="btn btn-default btn-success btn-block"
           href="#!/login"
           role="button">Follow</a>
        <a class="btn btn-default btn-danger btn-block"
           href="#!/login"
           role="button">Unfollow</a>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-header pull-right">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="navbar-header nw-user-button-1"
                           href="#!/login"
                           role="button">
                        <span class="glyphicon glyphicon-user"
                              aria-hidden="true"></span>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="navbar-header">

            <a class="navbar-toggle collapsed nw-user-button-2"
               href="#!/login"
               role="button"
               aria-expanded="false">
                <span class="glyphicon glyphicon-user"
                      aria-hidden="true"></span>
            </a>
        </div>
    </nav>
</div>